#menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    background: var(--branco);
}

#menu-button {
    padding: 10px;
    background-color: var(--cor-segundaria);
    border: none;
    margin-bottom: center;
}

header {
    background-color: var(--branco);
    height: 50px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: none;
}

.titulo {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
}

.logo {
    width: 50px;
    height: 35px;
    margin: 1.5%;
    border: none;
    outline: none;
}